@use '../../styles/abstracts/variables' as styles;
@use '../../../assets/styles/abstracts/mixins.scss' as mixins;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;

  @include mixins.respond('tablet') {
    font-size: 50%;
  }
}

ul {
  list-style: none;
}

mark {
  background-color: styles.$yellow;
}