<mat-card class="card">
  <img mat-card-image 
       [src]="article.imageUrl" 
       [alt]="'Photo of' + article.title">

  <mat-card-content>

    <div class="date">
      <i [inlineSVG]="'calendar.svg'"></i>
      <span>{{ article.publishedAt | date }}</span>
    </div>
    <h2 class="heading-2">{{ article.title }}</h2>

    <p class="paragraph">
      {{ article.summary }}
    </p>

    <app-button class="button" [title]="'Read more'" [mode]="'right'"></app-button>
    
  </mat-card-content>

</mat-card>



