@use '../../../../assets/styles/abstracts/variables' as styles;
@use '../../../../assets/styles/abstracts/mixins' as mixins;

:host {
  display: block;
}

.header {
  height: 8.2rem;
  background-color: styles.$gray-4;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.06);

  &__container {
    @include mixins.respond('mobile') {
      text-align: center;
    }
  }

  &__link {
    display: inline-block;
    transform: translateY(0.3rem);
  }
}
