@use '../../../../assets/styles/abstracts/variables' as styles;
@use '../../../../assets/styles/abstracts/mixins' as mixins;

:host {
  display: block;
  height: 100%;
}

.article-skeleton {
  &__top {
    display: grid;
  }
  &__img {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    animation: skeleton 1s 0.5s infinite alternate;
    height: 24.5rem;
  }

  &__img,
  &__title {
    grid-row: 1;
    grid-column: 1 / -1;
  }


  &__title {
    display: flex;
    justify-content: center;
    align-self: end;
    justify-self: center;
    text-align: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    background-color: styles.$white;
    z-index: 1;
  
    border-bottom: unset;
    padding: 3.5rem;
    margin-top: 3.2rem;

    h2 {
      background-color: rgba(0, 0, 0, 0.3);
      animation: skeleton 1s 0.5s infinite alternate;
      width: 70%;
    }
  }

  &__title,
  &__summary {
    width: calc(100% - 6.4rem);
    max-width: styles.$container;
  }

  
  &__summary {
    padding: 1.6rem 7.5rem 5rem;
    border: 0.1rem solid styles.$gray-3;
    border-top: unset;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    @include mixins.card('no-border');
    
    @include mixins.respond('tablet') {
      padding: 3.5rem;
    }

    p {
      background-color: rgba(0, 0, 0, 0.3);
      animation: skeleton 1s 0.5s infinite alternate;
      height: 2rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
  
}

