<section class="article" >
  <ng-container *ngIf="article$ | async as article; else skeleton">
    
    <div class="article__top">
      <img class="article__img" [src]="article.imageUrl" [alt]="'Photo of' + article.title">
      <div class="article__title">
        <h2 class="article__heading heading-2">{{ article.title }}</h2>
      </div>
    </div>


    <div class="article__summary container">
      <p>{{ article.summary }}</p>
    </div>

    <div class="article__button container">
      <app-button class="article__btn"
                  (click)="goHome()"
                  [title]="'Back to homepage'" 
                  [mode]="'left'">
      </app-button>
    </div>
  </ng-container>

  <ng-template #skeleton>
    <app-article-skeleton></app-article-skeleton>
  </ng-template>

</section>

