@use '../../../assets/styles/abstracts/variables' as styles;

:host {
  display: block;
}

.header {
  display: flex;
  align-items: center;

  height: 8.2rem;
  background-color: styles.$gray-4;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.06);
}
