@use '../../../styles/abstracts/variables' as styles;
@use '../../../styles/abstracts/mixins' as mixins;

.card {
  &.mat-card {
    display: grid;
    grid-template-rows: 21.7rem;

    overflow: hidden;
    height: 100%;

    font-family: styles.$font-montserrat;
    border-radius: 0.5rem;
    padding: unset;
    transition: styles.$transition;

    &:not([class*=mat-elevation-z]) {
      @include mixins.card('border');
    }

    @include mixins.respond('mobile') {
      grid-template-rows: 28rem;
    }
  }

  .mat-card {
    &-image {
      display: block;
      width: 100%;
      margin: unset;
      object-fit: cover;
      cursor: pointer;


      &:first-child {
        margin: unset;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;

      height: inherit;
      padding: 2.5rem;
      font-size: styles.$default-font-size;
      line-height: styles.$default-line-height;

      .heading-2,
      .button {
        cursor: pointer;
      }

      .heading-2 {
        margin-bottom: 2rem;
      }

      .paragraph {
        margin-bottom: 2rem;
        line-height: styles.$default-line-height;

        overflow: hidden;
      }

      .button {
        margin-top: auto;
      }
    }
  }
}