.paginator {
  &.mat-paginator {
    display: flex;
    justify-content: center;
    margin-top: 4.8rem;
    font-size: 2rem;

    .mat-select-trigger {
      font-size: inherit;
    }

    .mat-paginator-page-size-label {
      margin: 0 1.6rem;
    }
  }
}