@use '../../../../assets/styles/abstracts/mixins' as mixins;


:host {
  display: block;
  height: 100%;
}

.articles {
  padding: 5rem 0 6.3rem;
  height: 100%;

  @include mixins.respond('laptop') {
    padding: 5rem 0 3.2rem;
  }
  
  @include mixins.respond('mobile') {
    margin-bottom: 2.4rem;
  }

  & > * {
    height: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.5rem;

    margin-bottom: 5.4rem;

    @include mixins.respond('laptop') {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 3.2rem;
      gap: 3.2rem;
    }

    @include mixins.respond('mobile') {
      grid-template-columns: 1fr;
      margin-bottom: unset;
      gap: 2.4rem;
    }
  }

  &__form {
    margin-bottom: 4rem;
  }

  &__count {
    margin-bottom: 4.5rem;
  }

  &__paginator {
    margin-top: auto;
  }

  &__no-found {
    display: block;
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 3.2rem;
    font-weight: 700;
  }
}