<section class="articles">
  <div class="articles__container container">
    <app-form class="articles__form"
            (search)="onSearch($event)"></app-form>

    <app-count [count]="count" class="articles__count"></app-count>

    <div class="articles__cards" *ngIf="articles$ | async as articles; else skeleton">
      <ng-container *ngIf="articles.length > 0; else noResults">
        <app-card [highlightedFragment]="searchFragment" 
                  *ngFor="let article of articles; trackBy: trackArticle" 
                  [article]="article">
        </app-card>
      </ng-container>

      <ng-template #noResults>
        <span class="articles__no-found">No articles were found 😥</span>
      </ng-template>
    </div>

    <ng-template #skeleton>
      <div class="articles__cards">
        <app-card-skeleton *ngFor="let skeleton of skeletons; trackBy: trackSkeleton" ></app-card-skeleton>
      </div>
    </ng-template>

    <mat-paginator *ngIf="count"
                   class="articles__paginator paginator"
                   [length]="count"
                   [pageSize]="limit"
                   [pageSizeOptions]="[6, 10, 20]"
                   (page)="paginate($event)"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</section>
