<section class="articles">

  
  <mat-card class="card">
    <img class="card__img"
         mat-card-image 
         src="https://material.angular.io/assets/img/examples/shiba2.jpg" 
         alt="Photo of a Shiba Inu">
  
    <mat-card-content class="card__content">
      <p class="card__paragraph">
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  
    <button mat-button>
      <span>Read more</span>
      <i>icon</i>
    </button>
  </mat-card>
</section>
