<mat-card class="card" (click)="openArticleDetails(article.id)">
  <img class="image"
       mat-card-image 
       [lazyLoad]="article.imageUrl" 
       [defaultImage]="'/assets/img/lazy-image.jpg'"
       [alt]="'Photo of' + article.title">

  <mat-card-content>

    <div class="date">
      <i [inlineSVG]="'calendar.svg'"></i>
      <span>{{ article.publishedAt | date }}</span>
    </div>
    <h2 class="heading-2" [innerText]="article.title" 
                          appHighlight 
                          [fragment]="highlightedFragment">
    </h2>

    <p class="paragraph" [innerText]="article.summary" 
                         appHighlight 
                         [fragment]="highlightedFragment"></p>

    <app-button [title]="'Read more'" [mode]="'right'"></app-button>
    
  </mat-card-content>

</mat-card>



